
<!DOCTYPE html>
<html>
<head>
    <title>Room Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="bg-light text-center">
    <div class="container mt-5">
        <h1 class="mb-4">Welcome to the St. Ann's College Room Booking System</h1>
        <a href="reserve" class="btn btn-primary">Reserve a room</a>
        <a href="bookings" class="btn btn-secondary">View Bookings</a>
    </div>
    <div>
        <img src="https://images.shiksha.com/mediadata/images/1474438333php5DpXMh.png" width="50%">
    </div>
</body>
</html>